<div class="my-5">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Two Way Data Binding exe</h4>
        </div>
        <div class="col-4">
            <input type="text" [(ngModel)]="username">
        </div>
        <div class="col-4">
            <h2>{{ username }}</h2>
        </div>
        <div class="col-4">
            <button class="btn btn-primary" [disabled]="username === ''" (click)="resetUserName()">Reset username</button>
        </div>
    </div>
</div>